.TodoList {
    margin: 4rem auto;
    padding: 2rem 3rem 3rem;
    max-width: 500px;
    background-color: rgb(253, 72, 72);
    color: white;
    font-family: 'Quicksand', sans-serif;
    box-shadow: 8px 8px 7px rgba(29, 28, 28, 0.4);
    border-radius: 2px;
}

.TodoList ul{
    margin-top: 2.6rem;
    list-style: none;
}

.TodoList h1{
    font-weight: 400;
    letter-spacing: 0.05em;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.3);
}

.TodoList h1 Span {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 0.7rem;
    margin-left: 3px;
    margin-top: 0.2rem;
}


